<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark  navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Flask</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  justify-content-between" id="navbarNav">

      <ul class="navbar-nav">
              {% if session.get('_id') %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.protected_route') }}">Protected</a>
        </li>
            <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('products.get_my_products') }}">My Products</a></li>
           <li>
          <a class="dropdown-item" href="{{ url_for('products.add_product') }}">Add Product</a>
        </li>
          </ul>
        </li>
      {% else %}
             <li class="nav-item d-none d-md-block">
          <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
        </li>
            {% endif %}
      </ul>
                    <ul class="navbar-nav">
           {% if session.get('_id') %}
          <li class="me-2 text-white">
             Welcome {{session.get('name')}}
          </li>
       <li class="nav-item">
          <a class="btn btn-danger badge" href="{{ url_for('users.logout') }}">Logout</a>
        </li>
                  {% else %}

                    <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.add_user') }}">Register</a>
        </li>

                  {% endif %}
        </ul>
    </div>
  </div>
</nav>

    {% block content %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>