
{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block content %}

    <form method="POST" action="{{url_for('users.login')}}">
        <label>Email</label>
        <br/>
        <input type="email" name="email" id="email" placeholder="Enter your email">
         <br/>
        <label>Password</label>
         <br/>
        <input type="password" name="password" id="password" placeholder="Enter your password">
         <br/>
        {% if error%}
            <p style="color:red;">{{error}}</p>
        {% endif %}
        <button type="submit">Login</button>
    </form>
        <a href="{{ url_for('users.add_user') }}">Register</a>
{% endblock %}